<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>eShop</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Flex:regular" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/3e8c25bd64.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@2"></script>
    <script src="script.js"></script>
</head>

<body>
    <div id="root">
        <header>
            <div class="search">
                <custom-input v-model="search"></custom-input>
                <!--<button class=" search-button " type="button ">Искать</button>-->
            </div>
            <div class="actions ">
                <custom-button @click="changeCartVisibility">Корзина</custom-button>
                <basket v-if="isVisibleCart" @close="changeCartVisibility" :calculate-price="calculatePrice"></basket>
            </div>
        </header>
        <main>
            <div class="goods-list" v-if="filteredItems.length">
                <good v-for="item in filteredItems" :item="item"></good>
            </div>
            <div class="no-data" v-else>Нет данных</div>
        </main>
    </div>
</body>

</html>