@import "_null.scss"; // Обнуление стилей
$basic_color: lightgrey;
$basic_dark: darkgrey;
$font_color: #323232;
%container {
    padding: 0 calc(50% - 590px);
}

body {
    font-family: "Roboto Flex", sans-serif;
    font-size: 12px;
    color: $font_color;
}

header {
    @extend %container;
    background: $basic_dark;
    height: 40px;
    margin-bottom: 15px;
    display: flex;
    justify-content: end;
    align-items: center;
    .cart-button,
    .search-button {
        margin-right: 10px;
        background: $basic_color;
        padding: 5px 15px;
        border-radius: 13px;
        font-size: inherit;
        color: inherit;
    }
    .cart-button {
        background-color: #626060;
        color: $basic_color;
    }
    .goods-search {
        padding: 5px 15px;
        margin-right: 5px;
    }
}

.goods-list {
    @extend %container;
    display: flex;
    justify-content: center;
}

.goods-item {
    background-color: $basic_color;
    height: 200px;
    min-width: 200px;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
    h3 {
        padding-bottom: 5px;
    }
    &:not(:first-child) {
        margin-left: 15px;
    }
}

.basket {
    width: 70%;
    height: 300px;
    position: fixed;
    border: 1px solid $basic_dark;
    background: white;
    top: 55px;
    right: 15%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    .basket-header {
        height: 40px;
        background: $basic_dark;
    }
    .close-basket {
        padding-right: 8px;
        text-align: right;
        font-size: 37px;
        color: #626060;
    }
    .basket-body {
        flex-grow: 1;
    }
    .basket-footer {
        height: 50px;
        background: $basic_color;
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 16px;
        span {
            font-weight: 600;
            padding-left: 5px;
        }
    }
}

.no-data {
    text-align: center;
    font-size: 16px;

}