* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.goods-list, header {
  padding: 0 calc(50% - 590px);
}

body {
  font-family: "Roboto Flex", sans-serif;
  font-size: 12px;
  color: #323232;
}

header {
  background: darkgrey;
  height: 40px;
  margin-bottom: 15px;
  display: flex;
  justify-content: end;
  align-items: center;
}
header .cart-button,
header .search-button {
  margin-right: 10px;
  background: lightgrey;
  padding: 5px 15px;
  border-radius: 13px;
  font-size: inherit;
  color: inherit;
}
header .cart-button {
  background-color: #626060;
  color: lightgrey;
}
header .goods-search {
  padding: 5px 15px;
  margin-right: 5px;
}

.goods-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.goods-item {
  background-color: lightgrey;
  height: 200px;
  min-width: 200px;
  padding: 10px;
  margin: 10px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.goods-item h3 {
  padding-bottom: 5px;
}
.goods-item button {
  margin: 10px 0 5px;
  padding: 5px 15px;
  border-radius: 13px;
  font-size: inherit;
  background-color: #6e6a6a;
  color: lightgrey;
}

.basket {
  width: 70%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  position: fixed;
  border: 1px solid darkgrey;
  background: white;
  top: 55px;
  right: 15%;
  z-index: 2;
  display: flex;
  flex-direction: column;
}
.basket .basket-header {
  height: 40px;
  background: darkgrey;
}
.basket .close-basket {
  padding-right: 8px;
  text-align: right;
  font-size: 37px;
  color: #626060;
}
.basket .basket-body {
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.basket .basket-footer {
  height: 50px;
  background: lightgrey;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 16px;
}
.basket .basket-footer span {
  font-weight: 600;
  padding-left: 5px;
}
.basket .basket-item .basketGoodsCount {
  display: flex;
  margin-top: 5px;
  font-weight: bold;
}
.basket .basket-item .basketGoodsCount div {
  padding: 10px;
  margin: 1px;
  background: darkgrey;
  border-radius: 4px;
}

.no-data {
  text-align: center;
  font-size: 16px;
}

.error {
  border-radius: 30px 0 30px 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 35px 25px 25px;
  text-align: center;
  margin: 15px auto;
  background: rgb(223, 118, 139);
  color: white;
  font-size: 15px;
}
.error i {
  display: block;
  text-align: right;
  padding-bottom: 2px;
  margin-right: -22px;
}/*# sourceMappingURL=style.css.map */